<div class="container">
  <h5>Login</h5>

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="usuario" [(ngModel)]="usuario.login" type="text" class="validate">
        <label class="active" for="usuario">Usuário</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">lock</i>
        <input id="senha" [(ngModel)]="usuario.senha" type="password" class="validate">
        <label class="active" for="senha">Senha</label>
      </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action" (click)=fazerLogin()>Login
      <i class="material-icons right">send</i>
    </button>
  
</div>

 <div id="modal" class="modal">
    <br/>
    <h6 class="center-align">Login ou senha inválidos</h6>
    <br/>
    <div class="center-align">
      <a class="modal-action modal-close waves-effect waves-light btn">ok</a>
    </div>
  </div>