<table class="responsive-table" *ngIf="listPedidosPaciente && listPedidosPaciente.length > 0" >
    <thead>
      <tr>
          <th></th>
          <th></th>
          <th>Data Pedido</th>
          <th>Médico Responsável</th>
          <th>Exame</th>
          <th></th>
          <th></th>
      </tr>
    </thead>

    <tbody *ngFor="let item of listPedidosPaciente">
      <tr>
        <td title="Deletar Pedido"><a class="cursor" (click)="deletarItemPedidoExame(item)"><i class="small material-icons redIcon">delete</i></a></td>
        <td><a title="Editar Pedido" *ngIf="item.tipoResultado==null" href="#modalEditItemPedidoExame" (click)="editarItemPedidoExame(item)"><i class="small material-icons orangeIcon">edit</i></a></td>
        <td>{{item.pedidoExame.dataPedido | date:"dd/MM/yyyy"}}</td>
        <td>{{item.pedidoExame.profissional.nome}}</td>
        <td>{{item.exame.nomeExame}}</td>
        <td *ngIf="item.tipoResultado==null"  title="Lançar Resultado Exame"><a href="#modalResultado" (click)="lancarResultado(item)"><i class="small material-icons">keyboard_hide</i></a></td>
        <td *ngIf="item.tipoResultado!=null" title="Editar Resultado Exame"><a href="#modalResultado" (click)="lancarResultado(item)"><i class="small material-icons greenIcon">keyboard_hide</i></a></td>
        <td *ngIf="item.tipoResultado!=null"><a  title="Imprimir Resultado" class="cursor" (click)="gerarRelatorioResultadoExame(item.id)"><i class="small material-icons blackIcon">print</i></a></td>
      </tr>
    </tbody>
</table>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a title="Solicitar exames" class="btn-floating btn-large waves-effect waves-light green" href="#modalPedidoExame" (click)="adicionarPedido()">
    <i class="material-icons">add</i>
  </a>
  <a title="Imprimir Pedido de exame" class="btn-floating btn-large waves-effect waves-light" href="#modalImprimirPedido" (click)="selecionarExamesPedido()">
    <i class="material-icons">description</i>
  </a>
</div>  

<!-- Modal Pedido Exame -->

  <div id="modalPedidoExame" class="modal">
    <div class="row">
      <div class="col s12">
          <h5>Pedido Exame</h5>
      </div>
    </div>

    <div *ngFor="let item of itensPedidoExame; let i=index" >
      <div class="row">
          <div class="col s12">
            <div class="input-field col s5">
              <input id="nomeExame" placeholder="Nome Exame" name="nomeExame" type="text" #exame (change)="selecionouExame($event, exame.value, i)" [(ngModel)]="item.exame.nomeExame"
                name="interestsAutoComplete" materialize="autocomplete" [materializeParams]="getAutocompleteParams()">
                <label>Nome Exame</label>  
            </div>
            <div class="input-field col s6">
              <input id="justificativa" type="text" class="validate" data-length="30" [(ngModel)]="item.justificativa" placeholder="Observação">
              <label>Observação</label>
            </div>
            <div class="input-field col s1">
              <i class="material-icons" *ngIf="i!=0" (click)="removeItemPedidoExame(item, i)">delete</i>
            </div>
          </div>
      </div>

    </div>

    <div class="row">
      <div class="col s12">
        <i class="material-icons left" (click)="adicionarItemPedidoExame()">add_box</i>Adicionar Exame
      </div>
    </div>

    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn-flat" (click)="gravarPedido()">Gravar Pedido Exame</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>


  <!-- Modal Resultado Exame -->

  <div id="modalResultado" class="modal">
    <div class="row">
      <div class="col s12">
          <h5>Lançar Resultado Exame</h5>
          <br/>
          <b>Exame: </b> {{exameLancarResultado?.nomeExame}}
      </div>
    </div>


    <div class="row">
      <div class="col s12">
        <div class="input-field col s9">
          <label>Data Realização</label>
          <br/>
          <br/>
            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model"
              (dateChanged)="onDateChanged($event)"></my-date-picker>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="input-field col s3">
            <select materialize="material_select" id="selectTipoResult" name="selectTipoResult" [(ngModel)]="tipoResultado">
                <option value="" disabled selected>Selecione o resultado</option>
                <option value="NORMAL">Normal</option>
                <option value="ALTERADO">Alterado</option>
                <option value="SUSPEITO">Suspeito</option>
            </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="obs" class="materialize-textarea" [(ngModel)]="resultadoObs" placeholder="Observação"></textarea>
              <label for="obs">Observação</label>
            </div>
          </div>
      </div>
    </div>

    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn-flat" (click)="gravarResultadoExame()">Gravar Resultado</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>

  </div>


  <!-- Modal Editar item Pedido Exame -->

  <div id="modalEditItemPedidoExame" class="modal">
    <div class="row">
      <div class="col s12">
          <h5>Pedido Exame</h5>
      </div>
    </div>

      <div class="row">
          <div class="col s12">
            <div class="input-field col s5">
              <input id="nomeExame" placeholder="Nome Exame" name="nomeExame" type="text" #exame (change)="selecionouExameEdicao(exame.value)" [(ngModel)]="itemEditarPedido?.exame.nomeExame"
                name="interestsAutoComplete" materialize="autocomplete" [materializeParams]="getAutocompleteParams()">
                <label>Nome Exame</label>  
            </div>
            <div class="input-field col s6">
              <input id="justificativa" type="text" class="validate" data-length="30" [(ngModel)]="itemEditarPedido.justificativa" placeholder="Observação">
              <label>Observação</label>
            </div>
          </div>
      </div>

    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn-flat" (click)="salvarEdicaoItemPedido()">Gravar Alteração</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>


  <!-- Modal Selecionar exames pedido -->
   <div id="modalImprimirPedido" class="modal">
    <div class="row">
      <div class="col s12">
          <h5>Imprimir Pedido Exame</h5>
          <br/>
          Selecione os exames que deseja agrupar para impressão:
          <br/>
          <br/>
            <div *ngFor="let item of listPedidosPaciente; let i=index" >
              <div class="row">
                <div class="col s12">
                  <input type="checkbox" class="filled-in" id="{{item.id}}" (click)="checkExamePedido($event, item)" [checked]="item.selecionado"/>
                  <label for="{{item.id}}"> {{item.exame.nomeExame}}</label>
                </div>  
              </div>
            </div> 
      </div>
    </div>

    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn-flat" (click)="imprimirPedido()">Imprimir Pedido</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>

   </div>