<div class="row">

  <div class="col s12 m8 l2">
    <div class="collection">
        <a class="collection-item"
            routerLink="receita/{{idPaciente}}"
            routerLinkActive="active">
            Receitas
        </a>
        <a class="collection-item"
            routerLink="exame/{{idPaciente}}"
            routerLinkActive="active">
            Exames
        </a>
    </div>
  </div>
      <div class="col s12 m4 l7">
        <h5>  {{paciente.nome}} </h5>
        <router-outlet></router-outlet>
    </div>
</div>
