 <br>
 <div class="row">
   <div class="col s12">
          <label>Profissional</label>
          <br/> 
          <div *ngIf="!selecionouProfissional">
            <select materialize="material_select" [materializeSelectOptions]="listProfissionais"
              #prof (change)="selecionouProfissinal($event, prof.value)" [(ngModel)]="idProfissional">
              <option value="" disabled selected>Selecione o profissional</option>
              <option *ngFor="let e of listProfissionais" [value]="e.id">{{e.nome}}</option>
            </select>
          </div>
          <div *ngIf="selecionouProfissional">
            {{profissional.nome}}
            <a 
              (click)="alterarProfissional()">
            <i class="material-icons">mode_edit</i>
            </a>
          </div>  
    </div>
    <div class="col s12" *ngIf="selecionouProfissional">
          <calendario [idProfissional]="idProfissional" (alterouData)="alterarData($event)"></calendario>
      </div>
 </div>
        
<a class="waves-effect waves-light btn" (click)="pesquisar()">Pesquisar</a>

<div *ngIf="pesquisou">
   <table class="responsive-table">
        <thead>
          <tr>
              <th>Horario</th>
              <th>Paciente</th>
              <th></th>
          </tr>
        </thead>

        <tbody *ngFor="let horarios of listaConsultasProf">
          <tr>
            <td>{{horarios.horario}}</td>
            <td>{{horarios.nomePaciente}}</td>
            <td><a *ngIf="!horarios.agendado" class="waves-effect waves-light btn" href="#modalAgendar" (click)="agendar()">Agendar</a>
                <a *ngIf="horarios.agendado" class="waves-effect waves-light btn red" (click)="desmarcar()">Desmarcar</a>
            </td>
          </tr>
        </tbody>
      </table>

</div>

  <!-- Modal Structure -->
  <div id="modalAgendar" class="modal">
    <div class="modal-content">
      <h5>Agendar Consulta</h5>
      <label>Paciente</label>
          <br/> 
          <div>
            <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
            <input type="text" name="interestsAutoComplete" materialize="autocomplete" [materializeParams]="getAutocompleteParams()">
        </div>
      </div>
    </div>
    
  </div>
          </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Marcar Consulta</a>
    </div>
  </div>

