<div class="container">
  <div class="row">
   <div class="col s12 m8 l6">
          <label>Profissional</label>
          <br/> 
          <div *ngIf="!selecionouProfissional">
            <select materialize="material_select" [materializeSelectOptions]="listProfissionais"
              #prof (change)="selecionouProfissinal($event, prof.value)" [(ngModel)]="idProfissional">
              <option value="" disabled selected>Selecione o profissional</option>
              <option *ngFor="let e of listProfissionais" [value]="e.id">{{e.nome}}</option>
            </select>
          </div>
          <div *ngIf="selecionouProfissional">
            {{profissional?.nome}}
            <a 
              (click)="alterarProfissional()">
            <i class="material-icons">mode_edit</i>
            </a>
          </div>  
    </div>
    <div class="col s12" *ngIf="selecionouProfissional">
          <label>Data</label>
          <br/>
          <calendario [idProfissional]="idProfissional" (alterouData)="alterarData($event)"></calendario>
      </div>
 </div>
        
<a *ngIf="exibirBotaoPesquisar"  class="waves-effect waves-light btn" (click)="pesquisar()">Pesquisar</a>

<div *ngIf="pesquisou" class="col s12 m8 l12">
  <br/>
<br/>
<div class="row">
     <div class="col s12 m12 l12">
    <ul class="collection with-header">
      <li class="collection-header"><h5>Agenda</h5></li>
      <li class="collection-item avatar" *ngFor="let horarios of listaConsultasProf">
        <i class="material-icons circle">date_range</i>
        <span class="title">{{horarios.horario}}</span>
        <p>
           {{horarios.nomePaciente}}
        </p>
        <a *ngIf="!horarios.agendado" class="secondary-content" href="#modalAgendar" (click)="agendar(horarios.horario)"><span class="new badge" data-badge-caption="Marcar"></span></a>
        <a *ngIf="horarios.agendado" class="secondary-content" (click)="desmarcar(horarios.idMarcacaoConsulta)"><span class="new badge red" data-badge-caption="Desmarcar"></span></a>
    </ul>
     </div>
</div>

  <!-- Modal Structure -->
  <div id="modalAgendar" class="modal">
    <div class="modal-content">
      <h5>Agendar Consulta</h5>
          <div>
            <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s6">
            <input placeholder="Selecione o nome do paciente" id="nomePaciente" name="nomePaciente" type="text" #pac (change)="selecionouPaciente($event, pac.value)"
              name="interestsAutoComplete" materialize="autocomplete" [materializeParams]="getAutocompleteParams()">
            <label>Paciente</label>  
        </div>
      </div>
    </div>
    
  </div>
  </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn-flat" (click)="marcaConsulta()">Marcar Consulta</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>

</div>