<table class="responsive-table">
    <tbody>
      <tr>
        <td>
          <input type="checkbox" id="diaSemanaDom" class="filled-in" /><label  for="diaSemanaDom">DOM</label>
        </td>
        <td>
          <input type="checkbox" id="diaSemanaSeg" class="filled-in" /><label  for="diaSemanaSeg">SEG</label>
        </td>
        <td>
          <input type="checkbox" id="diaSemanaTer" class="filled-in" /><label  for="diaSemanaTer">TER</label>
        </td>
        <td>
          <input type="checkbox" id="diaSemanaQua" class="filled-in" /><label  for="diaSemanaQua">QUA</label>
        </td>
        <td>
          <input type="checkbox" id="diaSemanaQui" class="filled-in" /><label  for="diaSemanaQua">QUI</label>
        </td>
        <td>
          <input type="checkbox" id="diaSemanaSex" class="filled-in" /><label  for="diaSemanaQua">SEX</label>
        </td>
        <td>
          <input type="checkbox" id="diaSemanaSab" class="filled-in" /><label  for="diaSemanaQua">SAB</label>
        </td>
      </tr>
    </tbody>
  </table>