
<div class="row">
  <div class="col s12 m6 l6">
    <div class="card-panel">
      <div class="card-stacked">
        <div class="card-content">
          <p>Nome: {{ profissionalSelecionado?.nome }}</p>
          <p>Email: {{ profissionalSelecionado?.email }}</p>
          <p>Telefone: {{ profissionalSelecionado?.telefone }}</p>
          <p>CRM: {{ profissionalSelecionado?.crm }}</p>
        </div>
        <br/> 
        <div class="card-content">
          <p><b> Horário Atendimento </b></p>
          <p> Dia da semana: {{ diasDaSemanaformat }}</p>
          <p> Horário Início: {{ configProfissional.horarioInicio }}</p>
          <p> Horário Fim: {{ configProfissional.horarioFinal }}</p>
          <p> Tempo atendimento (min): {{ configProfissional.tempoConsulta }}</p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn blue-grey darken-1"
            (click)="editar()">
           Editar
          </a>
          <a class="waves-effect waves-light btn red"
            (click)="remover()">
            Remover
          </a>
        </div>
      </div>
    </div>
  </div>
</div>