<nav class="light-green" *ngIf="mostrarMenu" >
    <div class="nav-wrapper">
      <a class="brand-logo right" style="padding-left: 15px"
      routerLink="">
      Gestão Clínica
    </a>
    <ul id="nav-mobile" class="left">
      <li routerLinkActive="active" *ngIf="perfil?.type == 'ADMINISTRADOR'">
        <a routerLink="/usuario">Cadastrar Usuário</a>
      </li>
      <li routerLinkActive="active" *ngIf="perfil?.type == 'ADMINISTRADOR'">
        <a routerLink="/profissional">Cadastro Profissionais</a>
      </li>
      <li routerLinkActive="active" *ngIf="perfil?.type == 'ADMINISTRADOR' || perfil.type == 'RECEPCIONISTA'">
        <a routerLink="/paciente">Cadastro Paciente</a>
      </li>
      <li routerLinkActive="active" *ngIf="perfil?.type == 'ADMINISTRADOR'">
        <a routerLink="/medicamento">Medicamentos</a>
      </li>
      <li routerLinkActive="active" *ngIf="perfil?.type == 'RECEPCIONISTA'" >
        <a routerLink="/controleAgenda">Agenda</a>
      </li>
      <li routerLinkActive="active" *ngIf="perfil?.type == 'MEDICO'" >
        <a routerLink="/atendimento">Prontuário Paciente</a>
      </li>
      <li routerLinkActive="active">
        <a (click)="onLogout()">Logout</a>
      </li>
    </ul>
    </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
