<form materialize class="col s12" #formCtrl="ngForm" enctype="multipart/form-data" novalidate>
    <div class="row">
      <div class="input-field col s12">
        <div>
          <select materialize="material_select" [materializeSelectOptions]="tipoDosagemOptions"
            (change)="selecionouTipoDosagem($event, dosagem.value)" [(ngModel)]="dosagem">
            <option value="" disabled selected>Selecione o tipo dosagem</option>
            <option *ngFor="let e of tipoDosagemOptions" [value]="e.type">{{e.descricao}}</option>
          </select>
        </div>
      </div>
    </div>

</form>