<table class="responsive-table" *ngIf="listReceitas.length > 0" >
    <thead>
      <tr>
          <th>Data Receita</th>
          <th>Médico Responsável</th>
          <th></th>
          <th></th>
          <th></th>
      </tr>
    </thead>

    <tbody *ngFor="let item of listReceitas">
      <tr>
        <td>{{item.dataReceita | date:"dd/MM/yyyy"}}</td>
        <td>{{item.profissional.nome}}</td>
        <td><a class="waves-effect waves-light btn red" (click)="deletarReceita(item)">Remover</a></td>
        <td><a href="#modalReceita" class="waves-effect waves-light btn" (click)="editarReceita(item)">Editar</a></td>
        <td><i class="small material-icons cursor" (click)="gerarReceita(item.id)">print</i></td>
      </tr>
    </tbody>
</table>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light green" href="#modalReceita" (click)="adicionarReceita()">
    <i class="material-icons">add</i>
  </a>
</div>


<!-- Modal Receita -->

  <div id="modalReceita" class="modal">
    <div class="row">
      <div class="col s12">
          <h5>Receita</h5>
      </div>
    </div>
 

    <div *ngFor="let item of itensReceita; let i=index" >
      <div class="row">
          <div class="col s12">
            <div class="input-field col s4">
              <input id="medGenerico" placeholder="Nome Medicamento" name="medGenerico" type="text" #med (change)="selecionouMedicamento($event, med.value, i)" [(ngModel)]="item.medicamento.nomeGenerico"
                name="interestsAutoComplete" materialize="autocomplete" [materializeParams]="getAutocompleteParams()">
                <label>Nome Genérico</label>  
            </div>
            <div class="input-field col s7">
              <input id="descricao" type="text" class="validate" data-length="30" [(ngModel)]="item.descricao" placeholder="Descrição">
              <label>Descrição</label>
            </div>
            <div class="input-field col s1">
              <i class="material-icons" *ngIf="i!=0" (click)="removeItemReceita(item, i)">delete</i>
            </div>
          </div>
      </div>

    </div>

    <div class="row">
      <div class="col s12">
        <i class="material-icons left" (click)="adicionarItemReceita()">add_box</i>Adicionar Medicamento
      </div>
    </div>

    <div class="modal-footer">
      <a class="modal-action waves-effect waves-green btn-flat" (click)="gravarReceita()">Gravar Receita</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>
 