<a  href="#modalReceita" (click)="adicionarReceita()">Adicionar Receita</a>


<table class="responsive-table" *ngIf="listReceitas.length > 0" >
    <thead>
      <tr>
          <th>Data Receita</th>
          <th>Médico Responsável</th>
      </tr>
    </thead>

    <tbody *ngFor="let item of listReceitas">
      <tr>
        <td>{{item.dataReceita | date:"dd/MM/yyyy"}}</td>
        <td>{{item.profissional.nome}}</td>
      </tr>
    </tbody>
</table>


<!-- Modal Receita -->

  <div id="modalReceita" class="modal">
    <div class="row">
      <div class="col s12">
          <h5>Receita</h5>
      </div>
    </div>
 

    <div *ngFor="let item of itensReceita; let i=index" >
      <div class="row">
          <div class="col s12">
            <div class="input-field col s3">
              <input id="medGenerico" name="medGenerico" type="text" #med (change)="selecionouMedicamento($event, med.value, i)"
                name="interestsAutoComplete" materialize="autocomplete" [materializeParams]="getAutocompleteParams()">
                <label>Nome Genérico</label>  
            </div>

            <div class="input-field col s3">
              <select materialize="material_select" [materializeSelectOptions]="tipoDosagemOptions"
                    #tipoDos (change)="selecionouTipoDosagem($event, tipoDos.value, i)">
                    <option value="" disabled selected>Selecione a dosagem</option>
                    <option *ngFor="let e of tipoDosagemOptions" [value]="e.type">{{e.descricao}}</option>
              </select>
             </div>
            <div class="input-field col s2">
              <input id="quantidade" type="text" class="validate" data-length="4" [(ngModel)]="item.quantidade">
              <label>Quantidade</label>
            </div>
            <div class="input-field col s2">
              <input id="dias" type="text" class="validate" data-length="3" [(ngModel)]="item.dias">
              <label>Dias</label>
            </div>
            <div class="input-field col s2">
              <input id="dias" type="text" class="validate" data-length="3" [(ngModel)]="item.frequencia">
              <label>Frequência</label>
            </div>
          </div>
      </div>

    </div>

    <div class="row">
      <div class="col s12">
         <i class="material-icons"  (click)="adicionarItemReceita()">add_box</i>
         <label for="icon_prefix">Adicionar Medicamento</label>
      </div>
    </div>



    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="gravarReceita()">Gravar Receita</a>
    </div>

  </div>
 