<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="card-stacked">
        <div class="card-content">
          <p>Nome: {{ pacienteSelecionado?.nome }}</p>
          <p>Email: {{ pacienteSelecionado?.email }}</p>
          <p>Telefone: {{ pacienteSelecionado?.telefone }}</p>
        </div>
        <br/> 
        <div class="card-action">
          <a class="waves-effect waves-light btn"
            (click)="editar()">
            <i class="material-icons left">mode_edit</i>Editar
          </a>
          <a class="waves-effect waves-light btn red"
            (click)="remover()">
            <i class="material-icons left">delete</i>Remover
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
