<div class="container">
    <h5>{{ title }}</h5>

      <form materialize #formCtrl="ngForm">
        <div class="row">
          <div class="input-field col s12 l8">
            <i class="material-icons prefix">group</i>
             <select materialize="material_select" id="selectPerfil" name="selectPerfil" [(ngModel)]="perfil" (change)="selecionarPerfil()">
                <option value="" disabled selected>Selecione o perfil</option>
                <option value="RECEPCIONISTA">Recepcionista</option>
                <option value="MEDICO">Médico</option>
                <option value="ADMINISTRADOR">Administrador</option>
            </select>
            <label>Perfil</label>
          </div>
        </div>

        <div class="row" *ngIf="selecionouPerfil && !perfilMedico" >
          <div class="input-field col s12 l8">
            <i class="material-icons prefix">account_circle</i>
            <input id="login" type="text" name="login"
                  [(ngModel)]="usuario.login">
            <label class="active">
              Login
            </label>
          </div>
        </div>

        <div  class="row" *ngIf="selecionouPerfil && perfilMedico &&!selecionouEmail">
          <div class="col s12 l8">
              <i class="small material-icons left">account_circle</i>
            <a title="Selecionar Email Profissional" href="#modal" (click)="selecionarEmailProfissional()">
              Selecionar Email</a>
          </div>
        </div>

        <div class="row" *ngIf="selecionouPerfil && perfilMedico && selecionouEmail">
          <div class="col s12 l8">
            <output><i class="small material-icons left">account_circle</i>{{this.usuario.login}}</output>
            <a href="#modal" (click)="selecionarEmailProfissional()"><i class="material-icons">mode_edit</i></a>
          </div>
        </div>
        <br/>

        <div class="row" *ngIf="selecionouPerfil">
          <div class="input-field col s12 l8">
            <i class="material-icons prefix">lock</i>
            <input id="senha" type="password" name="senha"
                  [(ngModel)]="usuario.senha">
            <label class="active">
              Senha
            </label>
          </div>
        </div>
        
    
        <button class="btn waves-effect waves-light" [disabled]="!formCtrl.form.valid" (click)="save()">
          {{descBotao}}<i class="material-icons right">send</i>
        </button>

        <a class="waves-effect waves-light btn red"
        (click)="onCancel()">Cancelar</a>

      </form>
</div>


 <!-- Modal Structure -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <h5>Selecione o profissional:</h5>
      <div class="row">
        <div class="input-field col s12">
            <div class="collection">
               <ng-container *ngFor="let item of profCadastrados">
                 <a class="collection-item" (click)="selecionarEmail(item.email)">
                   {{item?.nome}}: {{item?.email}}</a>
               </ng-container>
            </div>
        </div>
      </div>
    </div>
  </div>

