<h5>Cadastro Usuário</h5>
<div *ngIf="profissional">
  <form materialize [formGroup]="form" (ngSubmit)="onSave()">
    <div class="row">
      <div class="input-field col s12 m8 l6">
        <i class="material-icons prefix">account_circle</i>
        <input id="nome" type="text" class="validate"
               [(ngModel)]="profissional.nome" formControlName="nome"
               [class.invalid]="form.controls['nome'].touched && !form.controls['nome'].valid">
        <label for="nome"
               [class.active]="profissional.nome"
               data-error="É preciso informar ao menos 3 caracteres">
        </label>
      </div>
      <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">email</i>
        <input id="email" type="email" class="validate"
               [(ngModel)]="profissional.email" formControlName="email"
               [class.invalid]="form.controls['email'].touched && !form.controls['email'].valid">
        <label for="email"
               [class.active]="profissional.email"
               data-error="email inválido">
          Email
        </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">phone</i>
        <input id="telefone" type="text" class="validate" [textMask]="{mask: maskTelefone}"
               [(ngModel)]="profissional.telefone" formControlName="telefone"
               [class.invalid]="form.controls['telefone'].touched && !form.controls['telefone'].valid">
        <label for="telefone"
               [class.active]="profissional.telefone"
               data-error="telefone inválido">
          Telefone
        </label>
      </div>
      <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">work</i>
        <input id="crm" type="text" class="validate" data-length="6"
               [(ngModel)]="profissional.crm" formControlName="crm"
               [class.invalid]="form.controls['crm'].touched && !form.controls['crm'].valid">
        <label for="crm"
               [class.active]="profissional.crm"
               data-error="crm inválido">
          CRM
        </label>
      </div>
    </div>

  
  
  </form>
  <form materialize class="col s12 m6 l8" [formGroup]="formConfig" (ngSubmit)="onSave()">
  <h5>Horário Atendimento</h5>
  <table class="responsive-table">
    <tbody>
      <tr>
        <td>
          <input type="checkbox" (click)="updateCheckedOptions($event)" id="DOM" class="filled-in" [checked]="checkedDom"/><label  for="DOM">DOM</label>
        </td>
        <td>
          <input type="checkbox" (click)="updateCheckedOptions($event)" id="SEG" class="filled-in" [checked]="checkedSeg"/><label  for="SEG">SEG</label>
        </td>
        <td>
          <input type="checkbox" (click)="updateCheckedOptions($event)" id="TER" class="filled-in" [checked]="checkedTer"/><label  for="TER">TER</label>
        </td>
        <td>
          <input type="checkbox" (click)="updateCheckedOptions($event)" id="QUA" class="filled-in" [checked]="checkedQua"/><label  for="QUA">QUA</label>
        </td>
        <td>
          <input type="checkbox" (click)="updateCheckedOptions($event)" id="QUI" class="filled-in" [checked]="checkedQui"/><label  for="QUI">QUI</label>
        </td>
        <td>
          <input type="checkbox" (click)="updateCheckedOptions($event)" id="SEX" class="filled-in" [checked]="checkedSex"/><label  for="SEX">SEX</label>
        </td>
        <td>
          <input type="checkbox" (click)="updateCheckedOptions($event)" id="SAB" class="filled-in" [checked]="checkedSab"/><label  for="SAB">SAB</label>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
      <div class="input-field col s12 l3">
        <i class="material-icons prefix">lock_open</i>
        <input id="horarioInicio" type="text" class="validate" [textMask]="{mask: maskHora}"
               [(ngModel)]="configuracaoHorarioProfissional.horarioInicio" formControlName="horarioInicio"
               [class.invalid]="formConfig.controls['horarioInicio'].touched && !formConfig.controls['horarioInicio'].valid">
        <label for="horarioInicio"
               [class.active]="configuracaoHorarioProfissional.horarioInicio"
               data-error="Hora Início inválida">
          Hora Início
        </label>
      </div>
      <div class="input-field col s12 l3">
        <i class="material-icons prefix">lock_outline</i>
        <input id="horarioFinal" type="text" class="validate" [textMask]="{mask: maskHora}"
               [(ngModel)]="configuracaoHorarioProfissional.horarioFinal" formControlName="horarioFinal"
               [class.invalid]="formConfig.controls['horarioFinal'].touched && !formConfig.controls['horarioFinal'].valid">
        <label for="horarioFinal"
               [class.active]="configuracaoHorarioProfissional.horarioFinal"
               data-error="Hora Fim inválida">
          Hora Fim
        </label>
      </div>
      <div class="input-field col s12 l3">
        <i class="material-icons prefix">query_builder</i>
        <input id="tempoConsulta" type="text" class="validate" data-length="3"
               [(ngModel)]="configuracaoHorarioProfissional.tempoConsulta" formControlName="tempoConsulta"
               [class.invalid]="formConfig.controls['tempoConsulta'].touched && !formConfig.controls['tempoConsulta'].valid">
        <label for="tempoConsulta"
               [class.active]="configuracaoHorarioProfissional.tempoConsulta"
               data-error="Tempo Consulta inválido">
          Tempo Consulta (min)
        </label>
      </div>
  </div>


  <br/>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn waves-effect waves-light" type="submit"
                [disabled]="!form.valid">
          Salvar<i class="material-icons right">send</i>
        </button>
        <a class="waves-effect waves-light btn red"
        (click)="onCancel()">Cancelar</a>
      </div>
    </div>

  </form>
</div>

